


.login-bg{
    background: url("../../../public/login-page-bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #00000060;
}
.form-div{
    font-family: "Poppins", sans-serif;
    z-index: 2;
    gap: 2.25rem;
    position: absolute;
    border-radius: 16px;
    background: #0000002b;
    backdrop-filter: blur(8px);
}
.title-div h2{
    color: #fff;
    font-family: "Playfair", serif;
    font-size: 4.75rem;
    line-height: 6rem;
}
