.input-container {
  color: white;
  position: relative;
  margin: 0.75rem auto;
  width: 530px;
}
input,
select {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: white;
}
option {
  color: black;
}
select {
  appearance: none;
  cursor: pointer;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}
.input-container input[type="password"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}
.input-container input[type="email"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  font-weight: 600;
  color: #2f6b0f;
}
.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  font-weight: 600;
  color: #337111;
}
.input-container input[type="email"]:focus ~ .label,
.input-container input[type="email"]:valid ~ .label {
  top: -20px;
  font-weight: 600;
  font-size: 16px;
  color: #337111;
}
input:focus ~ .label,
input:valid ~ .label,
select:focus ~ .label,
select:valid ~ .label {
  top: -20px;
  font-size: 16px;
  font-weight: 600;
  color: #337111;
}
.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #429515;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
input:focus ~ .underline,
input:valid ~ .underline,
select:focus ~ .underline,
select:valid ~ .underline {
  transform: scaleX(1);
}
.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}
.input-container input[type="email"]:focus ~ .underline,
.input-container input[type="email"]:valid ~ .underline {
  transform: scaleX(1);
}
.input-container input[type="password"]:focus ~ .underline,
.input-container input[type="password"]:valid ~ .underline {
  transform: scaleX(1);
}
