@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #f6eee3;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #e5decf,
    #e5decf 1px,
    #f6eee3 1px,
    #f6eee3
  );
}
.title-div P {
  color: #fff !important;
}
.forgot-btn {
  color: #fff !important;
}
.card {
  background-color: #f5f5f5;
  width: 320px;
  max-width: 90vw;
}

.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.1em;
  background-color: #ccc;
  transition: all 0.3s;
  border-radius: 4px;
}

.container2 input:checked ~ .checkmark {
  background-color: #47da99;
  animation: pop 0.5s;
  animation-direction: alternate;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container2 input:checked ~ .checkmark:after {
  display: block;
}

.container2 .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
} */

/* MAIN SECTION */
/* .main-section {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=1935")
    center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.panel {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;

  background: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.7s ease-in-out;
}

.move-left {
  transform: translateX(0%);
}

.move-right {
  transform: translateX(100%);
}

.form-content {
  width: 70%;
  color: #9cf59f;
}

.form-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.toggle-btn {
  position: absolute;
  top: 3%;
  left: 53%;
  transform: translate(-50%, -50%);
  padding: 12px 32px;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  backdrop-filter: blur(8px);
  cursor: pointer;
  z-index: 50;
} */
